
.timelog-ctx {
  width: 100%;
  height: auto;
}
.timelog-ctl {}
.timelog-btn {
  flex: auto;
  min-width: 150px;
  max-width: 300px;
}

.timelog-mainbtn {
  background-color: white;
  border-radius: 100px;
}
